@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Histogram of Bigrams</h1>
    
    <p>
        This website allows a user to provide a body of text and then generate a Bigram Histogram Reports.  
    </p>
    <ul style="list-style-type:none">
        <li>
            <u>Bigram</u> is defined as two consecutive words within a body of text.
        </li>
        <li>
            <u>Histogram</u> is a data structure that identifies how often an integer is found within a domain of integers.
        </li>
        <li>
            <u>Hash Code</u> is the integer value returned from the GetHashCode() method for a string.
        </li>
        <li>
            <u>HOB Report</u> identifies all bigrams in a body of text and generates a report indicating how often each distinct bigram is repeated.
            This is accomplished by using the histogram data structure with the hash code of each bigram in the specified text as the key.
        </li>
    </ul>
    
    <a href="/home/Report">[Click here to try it out]</a>
</div>
